@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base; /* Include base styles & normalize.css as a style reset */

:link {
  color: #0000EE;
  text-decoration: underline;
}
:visited {
  color: #551A8B;
  text-decoration: underline;
}

@tailwind components; /* inject component classes by Tailwind & plugins */
@tailwind utilities; /* inject utility classes by Tailwind & plugins */